# --------------------------------
# Configuration

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  # pager = delta
{{ if eq .chezmoi.username "clifford.ressel" }}
{{- /* only on work machine */ -}}
[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
{{- else }}
[credential]
  helper = store
{{- end }}
[init]
  # In accordance with recent changes in the Git community,
  # use "main" to designate default branch
  defaultBranch = main
  # defaultBranch = master
[user]
  name = Clifford Ressel
  email = {{ .email | quote }}

# --------------------------------
# Stylistic

[color]
  # Use terminal colors when supported
  ui = auto
  interactive = auto
[delta "interactive"]
  keep-plus-minus-markers = false
  line-numbers = false
  navigate = true
  side-by-side = false
[delta]
  keep-plus-minus-markers = false
  line-numbers = false
  navigate = true
  side-by-side = false
[diff]
  submodule = log
  colorMoved = default
# [interactive]
#   diffFilter = delta --color-only --features=interactive
# [pager]
#   blame  = delta
#   diff   = delta
#   reflog = delta
#   show   = delta
[merge]
  conflictstyle = diff3

# --------------------------------
# Shortcuts

[alias]
  ad = !git add -A && git status
  br = branch
  co = commit
  ch = checkout
  di = diff
  re = restore
  st = status
  logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit
  logp = log -p
  pushf = push --force-with-lease
