[Desktop Entry]
Type=Application
Name=osu!
Exec=/home/clifford/.local/bin/osu
Icon=/home/clifford/.local/share/applications/lazer.png
Categories=Game;
